<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomCss.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWork.styles.css" asp-append-version="true" />
    <script src="~/js/Jquery.js"></script>
    <script src="~/js/Toaster.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><span class="Default-Text-Color">MyWork</span></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Find Work
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" data-value="Find Job" asp-controller="Freelancer" asp-action="FindJob">Find Job</a>
                                <a class="dropdown-item" data-value="All Job" asp-controller="Freelancer" asp-action="MyJob">My Job</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mx-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Job
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" asp-controller="Client" asp-action="PostJob" data-value="Post Job"> Post Job</a>
                                <a class="dropdown-item" data-value="All Job" asp-controller="Client" asp-action="AllJob">All Job</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Freelancer
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <a class="dropdown-item" asp-controller="Client" asp-action="TalentList" data-value="Find Talent"> Find Talent</a>
                                <a class="dropdown-item" data-value="Talent Request" asp-controller="Client" asp-action="TalentRequest">Talent Request</a>
                            </div>
                        </li>
                    </ul> 
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item mx-4">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append col-sm-12 col-lg-4">
                                        <select class="form-control" id="findType">
                                            <option>Talent</option>
                                            <option>Job</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark Default-Bg-Color Circle-Button ps-4 pe-4 " asp-controller="Home" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark Default-Bg-Color Circle-Button ps-4 pe-4" asp-controller="Home" asp-action="Login">LogIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MyWork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
