@{
    Layout = "_navClient";
}
@model JobDetails

<div class="card-body">
    <h5 class="card-title mb-4 Default-Text-Color text-center">List Of Job</h5>
    <div id="courseCardRowItem"> </div>
    <div class="row">
        <div class="Popup-ContainerJob" id="popupContainer">
            <div class="Popup-CardJob" id="popupCard">
                <h4>Update Job Description</h4>
                <div class="row">

                    <input type="hidden" asp-for="Id">
                    <div class="col-sm-12 col-lg-12">
                        <label asp-for="Title"></label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" rows="6" placeholder="Description....." asp-for="Description"></textarea>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <label asp-for="Interval"></label>
                        <select class="form-control" asp-for="Interval">
                            <option value="Less Than 1 Month">Less Than 1 Month</option>
                            <option value="Less Than 2 Month">Less Than 2 Month</option>
                            <option value="Above 3 Month">Above 3 Month</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-lg-3">
                        <label asp-for="Budget"></label>
                        <input type="text" class="form-control pos" asp-for="Budget">
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label asp-for="Skill"></label>
                        <input type="text" class="form-control pos" asp-for="Skill">
                    </div>
                    <div class="col-sm-12 col-lg-12 text-end mt-4">
                        <button type="button" class="btn btn-primary" id="PostJob">Update</button>
                        <button type="button" class="btn btn-danger" id="DeleteJob">Delete</button>
                    </div>
                </div>
                <button class="Close-Btn" id="closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        BindAllJobData();
    });

    $('#PostJob').click(function () {
        $.ajax({
            url: 'updateJobDetails',
            type: 'get',
            data:
            {
                Id: $('#Id').val(),
                Title: $('#Title').val(),
                Description: $('#Description').val(),
                Interval: $('#Interval').val(),
                Budget: $('#Budget').val(),
                Skill: $('#Skill').val()
            }
        })
            .done(function (e) {
            })
            .fail(function (reason) {
                ShowError("Server not responding, try later");
            })
            .then(function (response) {
                if (response.success) {
                    ShowSuccess(response.msg);
                    $('#popupContainer').fadeOut();
                    $('#courseCardRowItem').empty();
                    BindAllJobData();
                } else {
                    ShowWarning(response.msg);
                }
            });
    });

    $('#DeleteJob').click(function () {
        $.ajax({
            url: 'deleteJobDetails',
            type: 'get',
            data:
            {
                Id: $('#Id').val() 
            }
        })
            .done(function (e) {
            })
            .fail(function (reason) {
                ShowError("Server not responding, try later");
            })
            .then(function (response) {
                if (response.success) {
                    ShowSuccess(response.msg);
                    $('#popupContainer').fadeOut();
                    $('#courseCardRowItem').empty();
                    BindAllJobData();
                } else {
                    ShowWarning(response.msg);
                }
            });
    });
    
    $('#courseCardRowItem').click(function () {
        $('#Id').val($(this).find('#jobid').text());
        $('#Title').val($(this).find('#idTitle').text());
        $('#Description').val($(this).find('.card-text:eq(1)').text());
        $('#Budget').val($(this).find('.card-text:eq(2)').text().replace('Assumed Budget/Wages: ', ''));
        $('#Skill').val($(this).find('.card-text:eq(3)').text().replace('Skill Required: ', ''));
        $('#popupContainer').fadeIn();
    });
    $('#closeBtn').click(function () {
        $('#popupContainer').fadeOut();
    });

    function BindAllJobData(){
        $.ajax({
            url: 'loadjobDetails',
            type: 'get',
        })
            .done(function (e) {
            })
            .fail(function (reason) {
                ShowError("Server not responding, try later");
            })
            .then(function (response) {
                if (response.success) {
                    var data = response.data;
                    for (var i = 0; i < data.length; i++) {
                        $('#courseCardRowItem').append(
                            '<div class="card my-4" id='+i+'>' +
                            '<div class="card-body">' +
                            '<h5 class="d-none " id="jobid">' + data[i].id + '</h5>' +
                            '<h5 class="card-title Default-Text-Color" id="idTitle">' + data[i].title + '</h5>' +
                            '<p class="card-text mt-0" id="idPostedDate">' + 'Posted On: ' + data[i].postedDate + '</p>' +
                            '<p class="card-text ps-4" id="idDescription">' + data[i].description + '</p>' +
                            '<p class="card-text mt-4" id="idBudget">' + 'Assumed Budget/Wages: ' + data[i].budget + '</p>' +
                            '<p class="card-text" id="idSkill">' + 'Skill Required: ' + data[i].skill + '</p>' +
                            '</div>' +
                            '</div>'
                        );
                    }
                }
                else {
                    ShowWarning(response.msg);
                }
            });

    }
</script>