@{
    Layout = "_navClient";
}

<div class="container  mt-sm-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title Default-Text-Color"><b>Notifications</b></h2>
                    <div class="row">
                        <div class="col-sm-12  col-md-12  col-lg-12">
                            <div class="mt-2" id="singleRow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        $.ajax({
            url: 'loadNotification',
            type: 'get',
        })
            .done(function (e) {
                $('#singleRow').empty();
            })
            .fail(function (reason) {
                ShowError("Server not responding, try later");
            })
            .then(function (response) {
                if (response.success) {
                    var data=response.data;
                    for (var i = 0; i < data.length; i++) {
                        $('#singleRow').append('' +
                            '<hr class="my3"/>'+
                            '<p> <span class="h5">' + data[i].freelancerName + ' </span> ' + data[i].description + ' On <span class="h6">' + data[i].registeredDate + '</span></p>' +
                        '');
                    }
                }
                else {
                    ShowError("Server not responding, try later");
                }
            });
    });
</script>