<div class="container-fluid ">
    <div class="row">
        <div class="conatiner mt-5">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <span class="display-3 Default-Text-Color">Welcome to MyWork:<br /> Your Ultimate Freelancing Destination!</span>
                    <div class="row text-center my-4 ">
                        <button class="w-25 Default-Bg-Color Circle-Button p-2 border-0">Get started</button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <picture class="image-container">
                        <img src="~/Images/stickies-g325809f7e_1280.jpg" class="img-fluid" alt="Image">
                    </picture>
                </div>
            </div>
        </div>
        <div class="conatiner mt-5 Default-Bg-Color">
            <div class="row">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="mt-3">
                            <span class="h3 pt-3"><b>Enterprise Suite</b></span><br />
                            <span class="display-6">
                                This is how good companies<br /> find good company.
                            </span><br />
                             <div class="mt-3">
                                <spam class="h6">
                                    Access the top 1% of talent on Upwork, and a full suite of hybrid workforce management tools. This is how innovation works now.
                                    <ul class="mt-3">
                                        <li>Access expert talent to fill your skill gaps</li>
                                        <li>vsuc_Control_12Control your workflow: hire, classify and pay your talent</li>
                                        <li>vsuc_Support_13Partner with Upwork for end-to-end support</li>
                                    </ul>
                                </spam>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <picture class="fullimage-container">
                            <img src="~/Images/people-g0c937bc6a_1280.jpg"  alt="Image">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>