@{
    Layout = "_NoNavBarHeader";
}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-2 col-lg-2">
        </div>
        <div class="col-sm-8 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Join MyWork as a freelancer or a client !</h5>
                    <div class="row justify-content-center">
                        <div class="col-sm-5">
                            <div class="card Hover-Effect">
                                <div class="card-body">
                                    <h5 class="card-title">I am a client,</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">looking for freelancer to complete the project.</h6>
                                    <span class="float-end"><a class="text-dark Default-Bg-Color ps-4 pe-4 text-decoration-none" asp-controller="Home" asp-action="ClientRegister">Apply</a></span>
                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-5">
                            <div class="card Hover-Effect ">
                                <div class="card-body">
                                    <h5 class="card-title">I an a Freelancer,</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">looking for the opportunities to work on.</h6>
                                    <span class="float-end"><a class="text-dark Default-Bg-Color ps-4 pe-4 text-decoration-none" asp-controller="Home" asp-action="FreelancerRegister">Apply</a></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <h6 class="text-center mt-4"> Already have an account ? <a class="Default-Color text-decoration-none" asp-controller="Home" asp-action="Login">Log In</a></h6>
                </div> 
            </div>
        </div>
        <div class="col-sm-2 col-lg-2">
        </div>
    </div>
</div> 