@{
    Layout = "_NoNavBarHeader";
}
@using Microsoft.AspNetCore.Http.Extensions;
@model Verification

<div class="container">
    <div class="row mt-5 mx-auto">
        <div class="col-sm-4 col-lg-4">
        </div>
        <div class="col-sm-4 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4 Default-Text-Color">Login</h5>
                    <div class="row">
                        <form id="reseatPassword">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <label asp-for="Email"> </label>
                                    @if (Context.Request.Query.TryGetValue("email", out var email))
                                    {
                                        <input type="text" class="form-control" asp-for="Email" value="@email" readonly>
                                        <input type="hidden" tranId="">
                                    }
                                </div>
                                <div class="col-sm-12 col-lg-12">
                                    <label asp-for="Password"> </label>
                                    <input type="text" class="form-control" asp-for="Password" required>
                                </div>
                                <div class="col-sm-12 col-lg-12">
                                    <label asp-for="ConfirmPassword"> </label>
                                    <input type="text" class="form-control" asp-for="ConfirmPassword" required>
                                </div>
                                <div class="col-sm-12 col-lg-12 my-2 text-end">
                                    <button type="submit" class="btn btn-primary w-100" id="btnSubmit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    });
    $('#reseatPassword').submit(function (e) {
        $.ajax({
            url: 'reseatPassword',
            type: 'Post',
            data: $(this).serialize()
        })
            .done(function (e) {
            })
            .fail(function (reason) {
                ShowError("Server not responding, try later");
            })
            .then(function (response) {
                if (response.success) {
                    ShowSuccess(response.msg)
                        window.location.href = '/Home/Login';
                } else {
                    ShowWarning(response.msg);
                }
            });
        e.preventDefault();
        return false;
    });
</script>