
.Default-Bg-Color {
    padding-right: 100px;
    background-color: rgba(37,158,190,1);
}

.Default-Text-Color {
    color: rgb(37,158,190);
}

.Circle-Button {
    padding: .25rem 4rem .25rem 4rem;
    margin: 0rem .5rem 0rem .5rem;
    border-radius: 1.55rem;
}

.Button-Spacing {
    padding-left: 1.2rem;
}

.Hover-Effect:hover {
    border-color: rgb(37,158,190);
}

.rounded-circle {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 1px solid rgb(37,158,190);
}

navbar-height {
    height: 205px;
}

.rounded-circleMainProfile {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgb(37,158,190);
}

.Popup-Container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.Popup-Card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.Popup-ContainerJob {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.Popup-CardJob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.Close-Btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

    .image-text:hover {
        cursor: pointer;
    }

.profile-container {
    position: relative;
}

.popup-container {
    display: none;
    position: absolute;
    top: 150%;
    left: 100%;
    transform: translateX(-100%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-text {
    text-align: center;
}

.Logout-Curcor {
    cursor: pointer;
}

.image-container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullimage-container {
    height: 450px;
    width: 135%;
    display: flex;
    align-items: center;
}
.fullimage-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
